#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  justify-content: flex-end;
  height: 6vh;
  width: 100%;

  background-color: #332d2d;
}
.menu {
  display: flex;
  width: 20%;
  justify-content: space-between;
  padding-right: 100px;
}
.profile {
  height: 6vh;
}
.input {
  width: 400px;
  height: 25px;
  background-color: whitesmoke;
  margin-top: 100px;
  color: black;
}

a {
  cursor: pointer;
  color: white;
}
a:hover {
  color: black;
}
.login {
  padding-right: 150px;
  display: flex;
}
